footer {
  background-color: $primary-background-color;
  padding-top: 63px;
  padding-bottom: 51px;
}
.footer-flex-container {
  display: flex;
  justify-content: space-between;
}
.footer-contacts-and-socials-container {
  display: flex;
  align-items: baseline;
}

address {
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
  font-style: normal;
}

address li {
  color: $unique-color;
}
address li:not(:last-child) {
  margin-bottom: 4px;
}

a[href*="maps"] {
  color: $quaternary-color;
}
