.footer-socials-container {
  margin-left: 70px;
}

.social-call {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $quaternary-color;
}

.pros-list__heading,
.social-call {
}

.footer-socials-container .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color $transition-dur-and-func;
}
.footer-socials-container .social-link__icon {
  fill: $quaternary-color;
}
.footer-socials-container .social-link:hover,
.footer-socials-container .social-link:focus {
  background-color: $secondary-color;
}
