.pros {
  font-size: 14px;
  padding-bottom: 0px;
}

.pros-list {
  display: flex;
}

.pros-list__item {
  text-align: left;
  width: calc((100% - 90px) / 4);
}

.pros-list__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.pros-list__description {
  line-height: 1.71;
  color: $tertiary-color;
}

.pros-icon__bg {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: $secondary-background-color;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
