.socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-link {
  display: inline-block;
  border-radius: 50%;
  padding: 12px;
  transition: background-color var(--transition-dur-and-func);
}

.social-link:hover,
.social-link:focus {
  background-color: $secondary-color;
  outline: none;
}

.social-icon {
  display: block;
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: $quaternary-color;
}

.social-item:not(:last-child):not(:last-child) {
  margin-right: 10px;
}
